@import "../../commons/colors/color";

.movie-list,
.show-list {
  margin: 20px 0px 40px 0px;
  h2 {
    color: $font-secondary;
    margin-bottom: 10px;
    font-weight: 400;
  }
}

// .movie-container {
//   display: grid;
//   grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
//    column-gap: 30px;
//    row-gap: 55px;
// }


.error {
  color: #fe3e3e;
  font-size: 1.2rem;
  width: 100%;
}